li{
  list-style: none;
}
select{
      flex: .09 !important;
}
.fs-16{
      font-size: 16px !important;
}
.fs-22{
      font-size: 60px !important;
}
.fw-italic{
      font-style: italic !important;
}
.text-gray{
      color: rgb(164, 164, 164) !important;
}
.weather-sidebar{
      height: 100vh;
      position: sticky;
      top: 0px;
      /* box-shadow: 0 0  5px rgba(0, 0, 0, 0.55); */
      background-color: rgba(14, 14, 14, 0.287) !important;
}
.weather-desc-card{
      width: 30%;
      background-color: rgba(14, 14, 14, 0.287) !important;
}
.card-container{
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    
}
.card-container p, .card-container span, .weather-description h1, .weather-sidebar h1, .weather-sidebar p, .weather-sidebar h4{
      color: #ffff;
}
.weather-img{
      width: 200px;
      height: 200px;
      
}
.week-desc-card{
      width: 22%;
      background-color: rgba(14, 14, 14, 0.287) !important;
}
.container-fluid{
     background: linear-gradient(rgba(0, 0, 0, 0.433), rgba(0, 0, 0, 0.433)), url('./assets/weatherbg.jpg');
     background-size: cover;
}
